/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************************************* site css **********************/


.wrapper {
    position:relative;
    margin:auto;
    width:960px;
}

.header {
    height:90px;
    background-color:#303123;
}

#logo {
    position:absolute;
    top:35px;
    left:100px;   
}

.header a {
    position:relative;
    left:550px;
    top:40px;
    color:#848484;
    padding-right: 30px;

}

a:hover {
    color:#b5b3b3;

}

.feature {
    background-image:url('/images/featurebackground.jpg');
    background-position:left top;
    height:234px;
    background-repeat:no-repeat;
    background-color:#fc6200;
}

.feature-content {
    width:480px;
    margin-left:480px;
    float:left;

}

.feature-content * {
    font-family:arial;
    width:280px;
    margin:0 auto;
}

.feature-content h1{
    margin-top: 45px;
    font-size: 30px;
    color:#ffffff;
}

.feature-content h2 {
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    padding-left: 30px;

}

.feature-content p {
    color:#ffffff;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    padding-top: 10px;    
    background: url('/images/contentseperater.jpg') top center no-repeat; 

}

.main {
    background-image:url('/images/mainpagebackground.jpg');
    background-position: top left;
    height: 530px;
    background-repeat: no-repeat;     
}

.welcome-text {
    padding:45px 125px 20px 105px;
    background:url('/images/welcomeseparator.jpg') bottom center no-repeat;

}

.welcome-text h2 {
    color:#616161;
    font-size: 20px;
    font-family: arial;
}

.welcome-text p {
    color:#9c9b9b;
    font-size: 12px;
    text-indent: 35px;
    line-height: 16px; 

}

.columns {
    padding: 25px 75px 25px 105px;
    font-family: arial;


}

.columns h2 {
    color:#616161;
    padding-bottom: 20px;
    font-size: 20px;
}

.columns h3 {
    padding-bottom: 15px;
    color:#616161;
}

.columns p {
    color:#616161;
    font-size: 12px;
    padding-bottom: 15px;
}

.column {
    width:220px;
    padding: 0 15px;
    float: left;
}
#customer-review {
    background-image: url('/images/customerreview.jpg');
    background-repeat: no-repeat;
}

#customer-review h2 {
    text-indent: 45px;
}

#customer-review p {
    font-style: italic;
    font-size: 12px;
}

.customername {
    font-weight: bold;
}

#features {
    background-image: url('/images/features.jpg');
    background-repeat: no-repeat;
}

#features li {
    font-size: 12px;
    font-family: arial;
    color:#616161;
    padding-bottom: 15px;
}

#features h2 {
    text-indent: 30px;
}

#prices {
    background-image: url('/images/prices.jpg');
    background-repeat: no-repeat;
}

#prices h2 {
    text-indent: 30px;
}

#prices li {
    font-size: 12px;
    font-family: arial;
    color:#616161;
    padding-bottom: 15px;
}

.footer {
    height:40px;
    background-color:#303123;
}

#footerlogo {
    position:relative;
    top:8px;
    left:100px;
}

#copyrightsymbol {
    position: relative;
    left:100px;
}

#footercopyright {
    position:relative;
    left:100px;
}

#rss {
    position:relative;
    left:570px;
}